.row
  .col-md-12
    - model_class = Track
    .page-header
      %h1=t '.title', :default => model_class.model_name.human.pluralize

    =form_tag "", :method => :post, :id => "track_form" do
      =render :partial => "track_list", :locals => {:tracks => @tracks}

    .well
      %strong Selected Tracks:
      =link_to "javascript:void(0)",:id => "merge_link", :class => "btn btn-primary btn-xs disabled" do
        %i.glyphicon.glyphicon-link
        Merge