- model_class = Track
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

=render :partial => "track_list", :locals => {:tracks => @tracks}

=button_to "New Track", new_track_path, :class => "btn btn-primary"