=form_for(User.new, :url => session_path, :html => { :method => :post, :class => "form-horizontal" }) do |f|
  %fieldset
    %legend= "Login"

    .form-group
      =f.label :email, "Email", :class => "col-lg-2 control-label"
      .col-lg-10
        =f.text_field :email, :autofocus => true, :class => "form-control"

    .form-group
      =f.label :password, "Password", :class => "col-lg-2 control-label"
      .col-lg-10
        =f.password_field :password, :class => "form-control"

    .form-group
      .col-lg-offset-2.col-lg-10
        =f.submit "Login", :class => "btn btn-primary btn-large"
        =link_to "Sign up", new_user_path if APP_CONFIG['registration_open']