.row
  .span12
    .page-header
      %h2
        =current_user.email
        %small= link_to "Edit", edit_user_path, :method => :get, :class => "btn btn-mini"

    %dl.dl-horizontal
      %dt= "API key"
      %dd= current_user.access_token
