.row
  .col-md-12
    - model_class = Vehicle
    .page-header
      %h1=t '.title', :default => model_class.model_name.human.pluralize

    =render :partial => "vehicle_list", :locals => {:vehicles => @vehicles}

    =link_to new_vehicle_path, :class => "btn btn-primary" do
      %span.glyphicon.glyphicon-plus
      Add new Vehicle