/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory ./session
 */

$gridColumnWidth: 70px;
$gridGutterWidth: 30px;
$gridRowWidth: (12 * $gridColumnWidth) + ($gridGutterWidth * 11);

@import "bootstrap";


body{
  background-color: $gray-lighter;
}

.container {
  padding-top: 60px;
}

.box{
  max-width: 480px;
  position: relative;
  @include border-top-radius(5px);
  //@include box-shadow(5px 5px 5px $gray-light);
  margin: auto;
  padding: 20px;
  background: white;
}

.alert {
  text-align: center;
  position: fixed;
  left: 0px;
  height: 60px;
  z-index:100;
  bottom: 0px;
  width: 100%;
  padding-top:20px;
  font-size: 16px;
  margin-bottom: 0px;
}


@media (max-width: 767px) {
  .container {
    padding-top: 10px;
  }
}
